/* Reset box sizing and margins for all elements */
* {
    box-sizing: border-box;
    padding: 0;
}

/* Set the background color for the entire body */
body {
    background-color:#FBEAEB;
}

/* Styling for the header section */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #8A307F;
    color: #79A7D3;
    font-family: serif;
}

/* Floating headshot to right of page */
.img {
    position: relative;
    float: right;
}

/* Styling for speciality areas information */
.brand {
    flex-grow: 1;
}

.brand h1 {
    margin: 0;
}

.brand p {
    margin: 0;
    font-size: 14px;
    color: #2F3C7E;
}

/* Styling for the navigation links */
.nav {
    display: flex;
    gap: 20px;
    padding: 10px;
    background-color: #2F3C7E;
    color: white;
}

/* Styling for about section */
.about-me {
    font-family: serif;
    top: 200px
}

/* Styling for work section */
.my-work {
    display: inline-block;
    margin-left: 20px;
}

#horiseon-image {
    max-width: 100%;
    height: auto;
}